/*Codigo color naranjo : #FF380F*/


/*Estilo del footer*/

.footer{
	background-color:#000000 /*Fondo negro*/;
	width:100%;
	height:40px;
	bottom:0;
	position:fixed;
	text-align:center;
	color:#FF4B25;
	text-decoration:none;
}

.opacity{
   background-color:#8D8D8D;
   opacity:0%;
   filter:alpha(opacity=60); /* IE < 9.0 */
   width:100%;
   height:100%;
   justify-content:center

}
